<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grad School Cafe Data Analysis - {% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
</head>
<body>
  <!-- Navigation bar at the top of each page -->
<section>
  <header>
    <!-- Header for each page -->
    {% block header %}{% endblock header %}
  </header>
  <main>
    <!-- Main content for each page-->
    {% block content %}{% endblock content %}
  </main>
</section>
</body>
</html>