* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
  }

  .navigation {
    overflow: hidden;
    background-color: darkblue;
  }

  .navigation a {
    float: right;
    color: lightblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 11px;
  }

  .navigation a.active {
    background-color: lightblue;
    color:gray;
  }
