{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Projects{% endblock title %}</h1>
{% endblock header %}

{% block content %}
  <p class="contact-content">
      <a href="https://github.com/rob-boland/jhu_software_concepts/tree/main/Module_1">Jon Robert (Rob) Personal Website Assignment - Module 1</a>
  </p>
  <p class="contact-content">
      The above GitHub repo is for a personal website assignment. It was built using Python, Flask, HTML, and CSS and includes home, projects, and contact pages.
      In accordance with the assignment instructions, the website can be run using the run.py file in the top-level directory.
  </p>
  
{% endblock content %}